.heroSection {
  padding: 100px 0;
  .profil {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .text {
    color: #bf9270;
    font-size: 30px;
  }
  .otherwise {
    color: #bf9270;
    font-size: 20px;
  }
}
