.footerRoot {
  width: auto;
  background-color: #dba39a;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;

  .header {
    letter-spacing: 0.15em;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  .footerChildHeader,
  .link {
    font-size: 15px;
    color: #555;
    font-weight: 400;
    line-height: 20px;
    transition: color 0.9s;
    text-decoration: underline;
    margin: 0;
  }
  .link {
    display: flex;
    color: #555;
    gap: 20px;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.9s;
    &:hover {
      color: #224439;
    }
  }
  .footerNav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .footerContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
  }
}
@media screen and (max-width: 582px) {
  .footerRoot {
    padding: 15px 0;
    .header {
      letter-spacing: 0.15em;
      font-weight: 800;
      font-size: 12px;
      line-height: 10px;
    }
    .link {
      font-size: 10px;
    }
    .footerContainer {
      padding: 0;
      width: 90%;
    }
    .footerChildHeader {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
