body {
  padding: 0;
  height: auto;
  margin: 0 auto;
  // max-width: 1440px;
  //   background-color: #f0dbdb;
  background-color: #ffeddb;
  // background-color: #bbddd2;

  // font-family: "Karla", sans-serif;
  // font-family: "Josefin Slab", serif; // middle middle
  //font-family: "Playfair Display", serif; //not bad
  font-family: "Roboto Mono", monospace;
}
